/* Webfont: Gentleman600-Regular */@font-face {
    font-family: 'Gentleman600';
    src: url('Gentleman-600-Regular.eot'); /* IE9 Compat Modes */
    src: url('Gentleman-600-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gentleman-600-Regular.woff') format('woff'), /* Modern Browsers */
         url('Gentleman-600-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gentleman-600-Regular.svg#Gentleman600-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

