// 2col Right Sidebar
.right-sidebar {

	h1.entry-title {
		margin: 0;
		text-aligin: left;
	}

	#primary {
		@include media($sm) {
			float: left;
			@include media($sm) {
				@include span-columns(4);
			}
			@include media($md) {
				@include span-columns(4);
			}
		}
		@include media($md) {

		}
	}
	#secondary {
		@include media($sm) {

		}
		@include media($md) {
			float: right;
			margin-right: 1.5%;
			@include media($sm) {
				@include span-columns(4);
			}
			@include media($md) {
				@include span-columns(2);
			}
		}
	}
}
